.row
  .col-md-6
    .video
      %iframe{src: "http://192.168.1.6:4000", width: "600", height: "438", id: 'video'}
    .launch
      %a{href: "javascript: void(0)", class: "btn btn-primary stage", id: "pre-launch"} Pre-Launch
      %a{href: "javascript: void(0)", class: "btn btn-success stage", id: "countdown"} Countdown
      %a{href: "javascript: void(0)", class: "btn btn-danger stage", id: "launch"} Launch
  .col-md-4
    .timer
      .timer_start
    .telemetry
    .diagnostics
  .col-md-1
    .altitude
  .col-md-1
    .fuel

